@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


/*

Things to sort out for mobile view
    
> Sponsor Logos

Things to do:

Add social media links to front page.
Add paragraphs to Toni's bio
*/

/*Start Of Global Styling*/


Body {
    background: linear-gradient(#4c8bac, #1459FA);
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

a {
    text-decoration: none;
    color: rgb(51, 51, 51);
}

.textbox {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
    
}

.orangeHeader {
    margin-bottom: 30px;
    color: #fca423;
    text-align: center;
}

.imageLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

/*End of Global Styling*/

/*StartOfHeadingImageStyling*/

.heading-image-container {
    margin-bottom: 15px;
    position: relative;
    text-align: center;
}
.heading-image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    /*font-family: 'Abril Fatface', cursive;*/
    
    color: #fca423;
}
/*EndOfHeadingImageStyling*/
.maintext {
    color: rgb(51, 51, 51);
    font-size: 22px;
    text-align: center;
}

.home-page-logo
{
    display:flex;
    justify-content:center;
    margin-bottom: 15px;
}

.extra-card {
    background: white;
}

.socialMediaDiv{
    justify-content: space-evenly;
    display:flex;
    /*margin-bottom: 10px;
    width: 100%;*/
}
.socialMediaLogo {
    max-height: 40px;
    margin-right: 15px;
}
/*StartOfSlideOutCSS*/
.drawer-mask {
    visibility: hidden;
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    background-color: #000000;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.drawer-wrapper.slide > .drawer-mask {
    opacity: .5;
    visibility: visible;
}

.drawer {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    border-left: 0.063em solid gray;
    z-index: 100;
    transform: translateX(110%);
    transition: transform 0.3s ease, width 0.3s ease;
}

.drawer-wrapper.slide > .drawer {
    transform: translateX(0);    
}

.drawer-content {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.trail-details {
    padding: 20px;
}

.drawer-controls {
    padding: 20px;
    background-color: #ffffff;
} 

/*EndOfSlideOutCSS*

/*StartOfNavBarCSS*/

    .btn {
        background-color: #fca423;
        color: #fff;
        /*font-size: 20px;*/
        font-weight: 800;
        text-transform: uppercase;
        position: relative;
        border-radius: 0 !important;
        border: none;
        transition: all 0.3s ease 0s;
    }

        .btn:hover,
        .btn.active:hover {
            color: #ffffff;
        }

        .btn:before {
            content: "";
            position: absolute;
            top: -7px;
            left: 0;
            background-color: #2E0014;
            max-width: 30%;
            height: 4px;
            transition: all 0.3s ease 0s;
        }

        .btn:after {
            content: "";
            position: absolute;
            bottom: -7px;
            right: 0;
            background-color: #2E0014;
            max-width: 30%;
            height: 4px;
            transition: all 0.3s ease 0s;
        }

        .btn:hover:before,
        .btn:hover:after,
        .btn.active:before,
        .btn.active:after {
            width: 100%;
        }


    .bio-btn {
        font-size: 10px;
    }

    .nav-btn {
        font-size: 5px;
    }


    .buttonsContainer {
        display: inline-flex;
        justify-content: flex-end;
    }

    .buttonMargin {
        margin-right: 20px;
    }

.navbarimage {
    
    width: 100px;
    height: 60px;
    overflow: hidden;
    margin-top: -6px;
}

    .mobileButtonMargin{
            margin: 5px;
    }
/*EndOfNavBarCSS*/
/*Start Of Expedition Page CSS*/
.routemap {
    display: block;
    margin: 0 auto;
}

.paddleCentre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    margin-bottom: 2%;
}
/*End Of Expedition Page CSS*/

    /*Start of FAQ CSS*/

    .questionbox {
        background-color: white;
        padding: 20px;
        border-radius: 25px;
        margin-bottom: 20px;
    }

    .question {
        font-size: 24px;
    }

    .answer {
        font-size: 18px;
    }


    hr.rounded {
        border-top: 8px solid #fca423;
        border-radius: 5px;
    }


    /*End of FAQ CSS*/


    /*Start of Contact CSS*/

.sponsorcontainer {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

    .sponsorURL {
        margin-top: 15px;
        text-align: center;
        font-size: 25px;
        text-decoration: underline;
    }

    .contactDiv {
        text-align: center;
        font-size: 22px;
    }

    .sponsor {
        padding: 10px;
    }

    /*End of Contact CSS*/

    /*Start Of New Gallery CSS*/

    .gallerytilecontainer {
        height: 700px;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 500px;

    }

    /*.newgalleryimage {
        height: 100%;
        width: auto;
        
    }*/

.newgalleryimage {
  margin: 1%;
}

.gallerybuttonscontainer {
    width: 100%;
    margin: 1%;
    display: flex;
    justify-content: space-between;
}

    /*End of New Gallery Css*/

/*Start of Mission Page CSS*/

.textandsymbol {
    display: flex;
    justify-content:space-around;
    margin-bottom: 1%;
}
/*End of Mission Page CSS*/